<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
  <?php @include_once( dirname(__FILE__) ) . DS . 'header_method.tpl.html'; ?>
</head>    
<body class = 'indexBox'>

    <div class = 'tipsNav'>
        <div class = 'tipsDiv'>
          <div class="role">
            <a href = 'javascript:;'>妈咪</a>
          </div>

          <div class="role mm">
            <a href = '/?a=mm'>慕慕</a>
          </div>

          <div class="role">
            <a href = 'javascript:;'>爸比</a>
          </div>
        </div>
    </div>

    <?php @include_once( dirname(__FILE__) ) . DS . 'footer.tpl.html'; ?>
</body>
</html>